/* 共用 CSS */
/* 讓內容都限制在 container 內 */
@import "product";
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 64px 0px 80px 0px;
  }
  
  /* 顏色共用 */
  
  .primary-color {
    color: #650300;
  }
  
  .sub-color {
    color: #AA0601;
  }
  
  /* 圖片對齊 */
  
  .align-items-baseline {
    align-items: baseline;
  }
  
  /* 間距 */
  
  .mb-40 {
    margin-bottom: 40px;
  }
  
  .mb-4 {
    margin-bottom: 4px;
  }
  
  /* 文字配置 */
  
  .text-left {
    text-align: left;
  }
  
  /* 文字大小 */
  
  .h3 {
    font-size: 20px;
  }
  
  .h2 {
    font: normal normal bold 48px/72px Noto Sans;
  }
  
  .h4 {
    font: normal normal bold 24px/36px Noto Sans;
  }
  
  .p-font {
    font: normal normal normal 16px/24px Noto Sans;
  }
  
  .primary-font {
    font: normal normal bold 64px/96px Noto Sans;
  }
  
  .sub-font {
    font: normal normal normal 36px/54px Noto Sans;
  }
  
  /*上面為共用 CSS --------------------------------------------------- */
  
  /* header */
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 88px;
    background-color: #AA0601;
  
    .logo {
      display: block;
      background-image: url(../images/logo.png);
      width: 80px;
      height: 48.57px;
      text-indent: 101%;
      overflow: hidden;
    }
  
    .nav {
      display: flex;
  
      a {
        display: block;
        text-decoration: none;
        padding: 32px;
        font-size: 20px;
        color: #FFFFFF;
      }
    }
  }
  
  /* header-ipad */
  @media (max-width: 768px) {
    .header {
      padding: 30px 39px;
    }
  }
  
  /* header-iphone */
  @media (max-width: 767px) {
    .header {
      display: block;
      padding: 0;
  
      h1 {
        display: flex;
        justify-content: center;
        padding: 10px 0px;
      }
  
      .nav {
        display: flex;
        flex-wrap: wrap;
  
        li {
          width: 50%;
          text-align: center;
          padding: 8px;
          border: 1px #FFFFFF solid;
        }
  
        a {
          text-align: center;
          padding: 0px;
        }
      }
    }
  }
  
  /* banner */
  
  .banner {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center center;
    height: 840px;
  
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      padding: 350px  0px;
    }
  }
  
  .slogan {
    .sub-font {
      font: normal normal normal 36px/54px Noto Sans;
    }
  
    .primary-font {
      font: normal normal bold 64px/96px Noto Sans;
    }
  }
  
  /* banner-ipad */
  @media (max-width: 768px) {
    .slogan {
      margin-right: 39px;
  
      .sub-font {
        font: normal normal medium 20px/30px PingFang TC;
      }
  
      .primary-font {
        font: normal normal bold 48px/72px Noto Sans;
      }
    }
  }
  
  /*banner-iphone */
  @media (max-width: 767px) {
    .slogan {
      display: flex;
      justify-content: flex-end;
  
      .sub-font {
        font: normal normal medium 16px/30px PingFang TC;
      }
  
      .primary-font {
        font: normal normal bold 32px/72px Noto Sans;
      }
    }
  }
  
  /*service */
  
  .service .h2 {
    text-align: center;
    margin-bottom: 60px;
  }
  
  .service-content {
    display: flex;
    justify-content: space-between;
  
    li {
      width: 208px;
      text-align: center;
    }
  }
  
  /*service-ipad */
  @media (max-width: 768px) {
    .service {
      .h2 {
        text-align: center;
        font: normal normal bold 32px/48px Noto Sans;
        margin-bottom: 32px;
      }
  
      .h4 {
        font: normal normal bold 20px/30px Noto Sans;
      }
    }
  
    .service-content {
      flex-wrap: wrap;
      padding: 0px 85px;
  
      li {
        width: 237px;
  
        &:nth-child(1) {
          order: 3;
        }
  
        &:nth-child(2) {
          order: 1;
        }
  
        &:nth-child(3) {
          order: 2;
        }
  
        &:nth-child(4) {
          order: 4;
        }
      }
    }
  }
  
  /* service-iphone */
  @media (max-width: 767px) {
    .service {
      .h2 {
        font: normal normal bold 24px/48px Noto Sans;
        margin-bottom: 20px;
      }
  
      .h4 {
        font: normal normal bold 20px/30px Noto Sans;
      }
    }
  }
  
  /* product */
  
  .product {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
    }
  
    h2 {
      text-align: center;
      font: normal normal bold 48px/72px Noto Sans;
    }
  
    img {
      width: 635px;
    }
  }
  
  .product-name {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .product {
    .icon {
      width: 48px;
      height: 37.73px;
    }
  
    .h2 {
      text-transform: uppercase;
      font: italic normal 900 48px/72px Roboto;
    }
  
    li:nth-child(2) {
      flex-direction: row-reverse;
    }
  
    h4:nth-child(2) {
      padding-right: 30px;
    }
  }
  
  /*product-ipad */
  @media (max-width: 768px) {
    .product {
      .container {
        padding: 32px 39px;
      }
  
      li {
        margin-bottom: 8px;
      }
  
      h2 {
        font: normal normal bold 32px/48px Noto Sans;
      }
  
      img {
        max-width: 390px;
      }
  
      .h2 {
        font: italic normal 900 28px/42px Roboto;
      }
  
      li:nth-child(2) {
        flex-direction: row;
      }
  
      .icon {
        width: 32px;
        height: 25.16px;
      }
    }
  
    .product-name {
      display: flex;
      align-items: center;
      padding-left: 30px;
    }
  
    .product h4:nth-child(2) {
      padding-right: 0px;
    }
  }
  
  /*product-iphone */
  @media (max-width: 767px) {
    .product {
      .container {
        padding: 32px 15px;
      }
  
      h2 {
        font: normal normal bold 20px/48px Noto Sans;
      }
  
      li {
        width: 100%;
        position: relative;
      }
  
      img {
        width: 345px;
      }
    }
  
    .product-name {
      position: absolute;
      left: 16%;
  
      .h2 {
        font: italic normal 900 28px/42px Roboto;
      }
    }
  }
  
  /* co-brand */
  
  .co-brand {
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: 10% 60%;
  
    .h2 {
      text-align: center;
      color: #fff;
      font: normal normal bold 48px/72px Noto Sans;
      margin-bottom: 60px;
    }
  }
  
  .co-brand-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .co-brand {
    li {
      width: 540px;
    }
  
    h3 {
      font: normal normal bold 72px/108px Roboto;
      line-height: 472px;
      text-align: center;
    }
  }
  
  .double {
    background-image: url(../images/product-8.png);
    background-size: contain;
    filter: contrast(50%);
  }
  
  .youth {
    background-image: url(../images/product-9.png);
    background-size: contain;
    filter: contrast(50%);
  }
  
  /* co-brand-ipad */
  @media (max-width: 768px) {
    .container {
      padding-top: 40px;
    }
  
    .co-brand {
      background-image: url(../images/bg.png);
      background-size: cover;
      background-position: 10% 60%;
  
      .h2 {
        font: normal normal bold 32px/48px Noto Sans;
        margin-bottom: 32px;
      }
    }
  
    .co-brand-content {
      justify-content: space-evenly;
    }
  
    .co-brand {
      li {
        width: 330px;
        height: 282px;
      }
  
      h3 {
        font: normal normal bold 32px/25px Roboto;
        line-height: 280px;
        text-align: center;
      }
    }
  }
  
  /* co-brand-iphone */
  @media (max-width: 767px) {
    .co-brand-content li {
      width: 90%;
      margin-bottom: 16px;
    }
  }
  
  /* recommend */
  
  .recommend .h2 {
    text-align: center;
    font: normal normal bold 48px/72px Noto Sans;
    margin-bottom: 60px;
  }
  
  .recommend-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    li {
      width: 255px;
      border: 1px solid #ccc;
    }
  }
  
  .recommend li img {
    max-width: 100%;
  }
  
  .recommend-info {
    padding: 14px 16px;
  
    h4 {
      font-size: 14px;
      padding-bottom: 7px;
      font-weight: bold;
    }
  
    p {
      font: normal normal medium 14px/21px Roboto;
      line-height: 21px;
      margin-bottom: 10px;
    }
  
    .gray-p {
      color: #707070;
    }
  }
  
  /* recommend-ipad */
  @media (max-width: 768px) {
    .recommend .h2 {
      font: normal normal bold 32px/48px Noto Sans;
      margin-bottom: 32px;
    }
  
    .recommend-content {
      justify-content: space-evenly;
  
      li {
        width: 40%;
        margin-bottom: 28px;
      }
    }
  }
  
  /* recommend-iphone*/
  @media (max-width: 767px) {
    .recommend-content li {
      width: 326px;
      margin-bottom: 16px;
    }
  }
  
  /* contact */
  
  .contact {
    background-color: #AA06010D;
  
    .h2 {
      text-align: center;
      font: normal normal bold 48px/72px Noto Sans;
      margin-bottom: 24px;
    }
  }
  
  .contact-content {
    width: 730px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  
    p {
      font: normal normal normal 20px/30px Noto Sans;
      margin-bottom: 20px;
    }
  
    label {
      font: normal normal normal 16px/24px Noto Sans;
      margin-bottom: 4px;
    }
  
    input {
      margin-bottom: 16px;
      padding: 6px;
      height: 50px;
      background-color: transparent;
      border: 1px solid #000000;
    }
  
    .agree {
      display: flex;
      align-items: center;
      margin-bottom: 42px;
    }
  
    label {
      padding-left: 4px;
      padding-bottom: 10px;
    }
  
    .btn {
      margin: 0 auto;
      width: 350px;
      height: 54px;
      background-color: #AA0601;
      color: #fff;
      border: none;
    }
  }
  
  /* contact-ipad */
  @media (max-width: 768px) {
    .contact .h2 {
      font: normal normal bold 32px/48px Noto Sans;
      margin-bottom: 16px;
    }
  
    .contact-content {
      width: 450px;
  
      p {
        font: normal normal normal 16px/24px Noto Sans;
        margin-bottom: 12px;
      }
  
      label {
        font: normal normal normal 14px/21px Noto Sans;
        margin-bottom: 2px;
      }
  
      .agree {
        margin-bottom: 20px;
      }
  
      .btn {
        width: 210px;
        height: 36px;
      }
    }
  }
  
  /* contact-iphone */
  @media (max-width: 767px) {
    .contact .h2 {
      font: normal normal bold 20px/48px Noto Sans;
      margin-bottom: 20px;
    }
  
    .contact-content {
      .agree {
        margin-bottom: 24px;
      }
  
      width: 300px;
    }
  }
  
  /* footer */
  
  .footer {
    background-color: #AA0601;
  }
  
  .footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
  }
  
  .footer-nav {
    display: flex;
  
    a {
      display: block;
      text-decoration: none;
      font: normal normal normal 16px/24px Noto Sans;
      color: #FFFFFF;
      padding-right: 48px;
    }
  }
  
  .footer-commun {
    display: flex;
  
    a {
      padding-left: 32px;
    }
  }
  
  .footer-connection {
    .tel {
      display: flex;
      align-items: center;
      margin-bottom: 19px;
    }
  
    .mail {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  
    a {
      text-decoration: none;
      color: #fff;
      font: normal normal normal 36px/54px Roboto;
      padding-left: 12px;
    }
  }
  
  .footer-company {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }
  
  .company-info {
    display: flex;
    align-items: center;
    color: #fff;
  
    img {
      padding-right: 38px;
    }
  
    p {
      font: normal normal normal 16px/24px Roboto;
    }
  }
  
  .footer-company {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    li a {
      text-decoration: none;
      font: normal normal normal 14px/21px Noto Sans;
      color: #fff;
      padding-left: 62px;
    }
  }
  
  /* footer-ipad */
  @media (max-width: 768px) {
    .container {
      padding: 40px 48px;
    }
  
    .footer-commun img, .footer-connection img {
      width: 24px;
      height: 24px;
    }
  
    .footer-nav a {
      padding-right: 40px;
    }
  
    .footer-connection a {
      font: normal normal normal 20px/30px Roboto;
    }
  
    .company-info img {
      display: none;
    }
  
    .footer-company li a {
      padding-left: 24px;
    }
  }
  
  /* footer-iphone */
  @media (max-width: 767px) {
    .container {
      padding: 24px 15px;
    }
  
    .footer-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0px;
      position: relative;
    }
  
    .footer-nav {
      display: none;
    }
  
    .footer-connection {
      img {
        width: 20px;
        height: 20px;
      }
  
      a {
        font: normal normal normal 16px/30px Roboto;
        padding-left: 5px;
      }
  
      .tel, .mail {
        margin-bottom: 7px;
      }
    }
  
    .company-info p {
      font: normal normal normal 14px/21px Roboto;
    }
  }